In [102]:
import pandas as pd
df = pd.read_csv('filtered_tweets.csv')
df.head()

,Unnamed: 0,target,id,date,flag,user,text
0,4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
1,7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
2,18,0,1467813579,Mon Apr 06 22:20:31 PDT 2009,NO_QUERY,starkissed,@LettyA ahh ive always wanted to see rent lov...
3,42,0,1467818603,Mon Apr 06 22:21:49 PDT 2009,NO_QUERY,kennypham,"Sad, sad, sad. I don't know why but I hate thi..."
4,45,0,1467819650,Mon Apr 06 22:22:05 PDT 2009,NO_QUERY,antzpantz,@Viennah Yay! I'm happy for you with your job!...

In [103]:
def removeAt(tweet):
    words = tweet.split(' ')
    return ' '.join(filter(lambda x: x and '@' not in x, words))

def removeLinks(tweet):
    words = tweet.split(' ')
    return ' '.join(filter(lambda x: not ('http://' in x.lower() or 'https://' in x.lower()), words))

In [104]:
df.text = df.text.apply(lambda x: removeAt(removeLinks(x.strip())))

In [99]:
duplicated = df.duplicated(subset='text', keep=False)
pd.unique(df['user'])

array(['Karoli', 'coZZ', 'starkissed', ..., 'tweeteradder18',
       'tweeteradder20', 'tweeteradder31'], dtype=object)

In [105]:
df.drop_duplicates(subset='text', keep=False, inplace=True)

In [71]:
df

,Unnamed: 0,target,id,date,flag,user,text
8933,86691,0,1754199617,Sun May 10 05:23:09 PDT 2009,NO_QUERY,WallTweet,I couldn't buy any 'Happy Mothers Day' for you...
47477,387036,0,2053918152,Sat Jun 06 06:04:41 PDT 2009,NO_QUERY,thalovebug,NEKO DON'T LEAVE US 3 i love you with a millio...
97947,875636,4,1680812852,Sat May 02 12:33:16 PDT 2009,NO_QUERY,SexyCostumes4U,"I ment to say, you are right on about that,"
101399,898100,4,1693511589,Sun May 03 22:47:25 PDT 2009,NO_QUERY,KevinEdwardsJr,love yall ...my 2 homiessss
112127,964330,4,1827517189,Sun May 17 10:52:43 PDT 2009,NO_QUERY,PaoloAlonso,Jamie Lynn! welcome to twitterland! hope you a...

In [107]:
export_csv = df.to_csv (r'cleanedData.csv', index = None, header=True)