In [38]:
import pandas as pd
import preprocessor as p

In [39]:
# reading data in csv file using pandas
df = pd.read_csv('filtered_tweets.csv')

In [40]:
df.head()

,target,id,date,flag,user,text
0,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
1,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
2,0,1467813579,Mon Apr 06 22:20:31 PDT 2009,NO_QUERY,starkissed,@LettyA ahh ive always wanted to see rent lov...
3,0,1467818603,Mon Apr 06 22:21:49 PDT 2009,NO_QUERY,kennypham,"Sad, sad, sad. I don't know why but I hate thi..."
4,0,1467819650,Mon Apr 06 22:22:05 PDT 2009,NO_QUERY,antzpantz,@Viennah Yay! I'm happy for you with your job!...

In [41]:
# remove URSLs, hashtags, mentions, emojis and smileys
df['text'] = df['text'].apply(lambda text: p.clean(text))

In [42]:
# remove users with total characters of less than 100 characters
df['characters'] = df['text'].apply(lambda text: len(text.split(' ')))
aggregated_df = df.groupby('user').sum().reset_index()
filtered_users = list(aggregated_df[aggregated_df['characters'] >= 100]['user'])

df = df[df['user'].isin(filtered_users)].drop(columns=['characters'])

In [43]:
# remove bots (users with less than 5 unique responses)
aggregated_df2 = df.groupby('user').nunique().drop(columns=['user']).reset_index()
NOT_bots_list = list(aggregated_df2[aggregated_df2['text'] > 5]['user'])
df = df[df['user'].isin(NOT_bots_list)]

In [44]:
df.head()

,target,id,date,flag,user,text
0,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"no, it's not behaving at all. i'm mad. why am ..."
1,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,"hey long time no see! Yes.. Rains a bit ,only ..."
2,0,1467813579,Mon Apr 06 22:20:31 PDT 2009,NO_QUERY,starkissed,ahh ive always wanted to see rent love the sou...
3,0,1467818603,Mon Apr 06 22:21:49 PDT 2009,NO_QUERY,kennypham,"Sad, sad, sad. I don't know why but I hate thi..."
4,0,1467819650,Mon Apr 06 22:22:05 PDT 2009,NO_QUERY,antzpantz,Yay! I'm happy for you with your job! But that...